@using Weterynarz.Domain.EntitiesDb
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    bool isHomePage = controllerName == "Home" && actionName == "Index" ? true : false;
}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" asp-controller="Home" asp-action="Index">WetWebsite</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        @if(isHomePage)
        { 
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">O nas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Oferta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#team">Zespół</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Kontakt</a>
                    </li>
                    <li class="nav-item awarded">
                        <a asp-controller="Visit" asp-action="MakeVisit" class="nav-link js-scroll-trigger"><img src="~/images/24hoursservicedark.svg" /> Umów wizytę</a>
                    </li>
                    @Html.Partial("_LoginPartial")
                </ul>            
            </div>
        }
        else
        {
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="@Url.Action("Index", "Home")"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Powrót</a>
                    </li>
                </ul>
            </div>
        }
    </div>
</nav> 