@using Weterynarz.Web.Models
@using Microsoft.AspNetCore.Identity
@using Weterynarz.Domain.EntitiesDb

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item awarded border-left-1">
        <a asp-controller="Home" asp-action="Index" asp-area="@AreaNames.Admin" class="nav-link js-scroll-trigger">Panel</a>
    </li>
    <li class="nav-item awarded border-left-1">
        <form asp-area="@AreaNames.Admin" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
            @*<ul class="navbar-nav text-uppercase ml-auto">*@

            <button type="submit" class="btn btn-link navbar-btn navbar-link">Wyloguj sie</button>

            @*</ul>*@
        </form>
    </li>
}
else
{
    @*<ul class="navbar-nav text-uppercase ml-auto">*@
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" asp-controller="Account" asp-action="Login" asp-area="@AreaNames.Admin">Zaloguj sie</a>
        </li>
    @*</ul>*@
}
