#services {

    .section-heading {
        color: $white-color;
    }

    .service-image {
        width: 140px;
        margin: 0 auto;
    }

    .service-heading {
        color: $white-color;
    }
}
