<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Wszelkie prawa zastrzeżone &copy; 2017</span>
            </div>            
        </div>
    </div>
</footer>