@import "customVariables.scss";

@import "loginPage.scss";
@import "templateStyle/customStyle.scss";

body {
    height: 100%;
}

.bg-dark {
    background-color: $dark-color;
}

.fullPage {
    height: 100%;
}

.hidden {
    display: none;
}

#graphicModal {
    .modal-body {
        h3 {
            color: $dark-color;
            margin-bottom: 1.5rem;
        }
    }
}

.select2-selection--multiple {
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: #495057;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.showGraphic {
    cursor: pointer;
}
