html {
  height: 100%; }

body {
  background-color: #212529;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

#loginForm {
  margin: 0 auto; }
  #loginForm form {
    margin-top: 50px; }
    #loginForm form #loginFormHeader {
      margin-bottom: 40px; }
    #loginForm form .form-control {
      padding: 20px; }
    #loginForm form input[type=submit] {
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 700;
      background-color: #fed136;
      border-color: #fed136;
      color: white;
      font-size: 18px;
      padding: 20px 40px; }
    #loginForm form input[type=submit]:hover {
      box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
      background-color: #fec810 !important;
      border-color: #fec810 !important; }

.backBtn {
  margin-top: 35px; }

header.app-header {
  background: #29363d !important;
  border-bottom: unset !important; }
  header.app-header .navbar-brand {
    color: #FED136;
    background-color: transparent !important;
    border: unset !important; }

.sidebar .nav-link i {
  color: #FED136 !important; }

.sidebar .nav-link:hover {
  background-color: #FED136 !important;
  color: #29363d !important; }
  .sidebar .nav-link:hover i {
    color: #29363d !important; }

body {
  height: 100%; }

.bg-dark {
  background-color: #212529; }

.fullPage {
  height: 100%; }

.hidden {
  display: none; }

#graphicModal .modal-body h3 {
  color: #212529;
  margin-bottom: 1.5rem; }

.select2-selection--multiple {
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #495057;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

