#mainNav .navbar-nav .nav-item .nav-link {
  color: #FED136 !important;
  font-weight: bold !important; }

#mainNav .navbar-nav .nav-item #logoutForm .btn {
  padding: 1.1em 1em !important;
  color: #212529 !important;
  cursor: pointer;
  text-decoration: none; }

#mainNav .navbar-nav .awarded {
  background-color: #FED136; }
  #mainNav .navbar-nav .awarded .nav-link {
    color: #212529 !important; }

header.masthead {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/main_wallpaper.jpg"); }
  header.masthead .intro-text {
    padding-top: 230px; }

#about .timeline .timeline-image {
  border: unset;
  background-color: white; }

#services .section-heading {
  color: white; }

#services .service-image {
  width: 140px;
  margin: 0 auto; }

#services .service-heading {
  color: white; }

#team .team-member .table {
  margin-top: 40px; }

section#makeVisit {
  background-color: #212529;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 120px 0 70px 0; }
  section#makeVisit .section-heading {
    color: #fff; }
  section#makeVisit .form-group {
    margin-bottom: 25px; }
  section#makeVisit .form-group input,
  section#makeVisit .form-group textarea {
    padding: 20px; }
  section#makeVisit .form-group input.form-control {
    height: auto; }
  section#makeVisit .form-group textarea.form-control {
    height: 248px; }
  section#makeVisit .form-control:focus {
    border-color: #fed136;
    box-shadow: none; }
  section#makeVisit ::-webkit-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  section#makeVisit :-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    /* Firefox 18- */
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  section#makeVisit ::-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    /* Firefox 19+ */
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  section#makeVisit :-ms-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

#mainNav .navbar-brand {
  font-family: unset !important; }

#mainNav #navbarResponsive .nav-item img {
  height: 23px; }

section {
  padding: 70px 0; }

.bg-dark {
  background-color: #212529; }

.border-left-1 {
  border-left: 1px solid #212529; }

