
@import "customVariables.scss";

html {
    height: 100%;
}

body {
    background-color: $dark-color;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $white-color;
}

#loginForm {
    margin: 0 auto;

    form {
        margin-top: 50px;

        #loginFormHeader {
            margin-bottom: 40px;
        }

        .form-control {
            padding: 20px;
        }

        input[type=submit] {
            font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 700;
            background-color: #fed136;
            border-color: #fed136;
            color: white;
            font-size: 18px;
            padding: 20px 40px;
        }

        input[type=submit]:hover {
            box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
            background-color: #fec810 !important;
            border-color: #fec810 !important;
        }
    }
}

.backBtn {
    margin-top: 35px;
}
